* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    padding: 6px;
    border: 1px solid black;
}

#mailList {
    margin-top: 8px;
    padding: 4px;
    list-style: none;
}

#mailList li {
    margin: 4px 0;
}

